<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cristina.orar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Linia6" />
        <activity android:name=".Linia35" />
        <activity android:name=".Linia25" />
        <activity android:name=".Linia24b" />
        <activity android:name=".Linia43p" />
        <activity android:name=".LiniaM42" />
        <activity android:name=".LiniaM11" />
        <activity android:name=".LiniaM32" />
        <activity android:name=".LiniaM26" />
        <activity android:name=".LiniaM16" />
        <activity android:name=".LiniaCora1" />
        <activity android:name=".LiniaCora2" />
        <activity android:name=".LiniaCora3"></activity>
    </application>

</manifest>